@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');


* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(10deg, #6508EC, #9883B6, #6659DF, #2915F1);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
	width: 60px;
	display: flex;
	margin: auto;
	padding-bottom: 5px;
}

main.container {
    background: white;
    min-width: 320px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h1 {
    font-weight: 700;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
    font-family: Quintessential;
}

main h1::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 70px;
    bottom: 3px;
    left: 1;
    border-radius: 8px;
    background: linear-gradient(45deg, #3F61D7, #0536E1);
}

form h5 {
	margin-top: 15px;
    font-size: 0.8rem;
    text-align: center;
}

form a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

form a:hover {
	text-decoration: underline;
	text-decoration-color: #3F61D7;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.2rem;
}

.input-field .linha::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .linha::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #A856E5, #560A8E);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .linha::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 1.5rem;
    padding: 0.6rem;
    width: 100%;
    background: linear-gradient(to right, #0536E1, #5E7ADF);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to left, #0536E1, #5E7ADF);
}

.rodape {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.rodape span {
    color: rgba(0, 0, 0, 1);
    font-size: 0.8rem;
    text-align: center;
}

.rodape .redesocial {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.rodape .redesocial a i {
    margin: 0 0.5rem;
    width: 15px;
}

.rodape .redesocial a {
    text-decoration: none;
    color: white;
}

.rodape .redesocial.google {
    background: linear-gradient(to left, #3CA6FA, #094371);
}

.rodape .redesocial.facebook {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}